{% extends "base.html" %}
{% block title %}MOST EXAMPLES{% endblock %}
{% block content %}
<h1>DEMOGRAPHICS API EXAMPLE</h1>
<div class="panel-group" id="accordion">
    <div class="panel panel-primary" id="identifier-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseIdentifierAPI">
                Identifier API
                </a>
            </h3>
        </div>
        <div id="collapseIdentifierAPI" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-group" id="identifierAPI">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#identifierAPI" href="#collapseIdentifierNew">
                                /identifier/new/
                                </a>
                            </h4>
                            <div id="collapseIdentifierNew" class="panel-collapse collapse">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <input type="text" class="form-control" id="type" name="type" placeholder="Enter type name">
                                    </div>
                                    <div class="form-group">
                                        <label for="identifier">Identifier</label>
                                        <input type="text" class="form-control" id="identifier" name="identifier" placeholder="Enter identifier">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#identifierAPI" href="#collapseIdentifierGet">
                                /identifier/get/
                                </a>
                            </h4>
                            <div id="collapseIdentifierGet" class="panel-collapse collapse">
                                <div class="input-group">
                                    <input type="search" class="form-control" name="query_string" placeholder="Enter search string" >
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Search</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#identifierAPI" href="#collapseIdentifierEdit">
                                /identifier/edit/
                                </a>
                            </h4>
                            <div id="collapseIdentifierEdit" class="panel-collapse collapse">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" id="city-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCityAPI">
                City API
                </a>
            </h3>
        </div>
        <div id="collapseCityAPI" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-group" id="cityAPI">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#cityAPI" href="#collapseCityNew">
                                /city/new/
                                </a>
                            </h4>
                            <div id="collapseCityNew" class="panel-collapse collapse">
                                <form role="form" id="new_city_form">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label for="province">Province</label>
                                        <input type="text" class="form-control" id="province" name="province" placeholder="Enter province">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" name="state" placeholder="Enter state">
                                    </div>
                                    <div class="form-group">
                                        <label for="code">Code</label>
                                        <input type="text" class="form-control" id="code" name="code" placeholder="Enter code">
                                    </div>
                                    <button type="submit" id="submit_city_new" class="btn btn-default">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                                <hr />
                                <div class="panel" id="new_city_result">
                                    <div class="panel-heading">JSON output</div>
                                    <div class="panel-body"  id="new_city_result_body"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#cityAPI" href="#collapseCityGet">
                                /city/get/
                                </a>
                            </h4>
                            <div id="collapseCityGet" class="panel-collapse collapse">
                                <div class="input-group" id="get_city">
                                    <input type="search" class="form-control" id="get_city_field" name="query_string" placeholder="Enter search string" >
                                    <span class="input-group-btn">
                                    <button id="get_city_button" class="btn btn-default" type="button">Search</button>
                                    </span>
                                </div>
                                <hr />
                                <div class="panel" id="get_city_result">
                                    <div class="panel-heading">JSON output</div>
                                    <div class="panel-body"  id="get_city_result_body"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#cityAPI" href="#collapseCityEdit">
                                /city/edit/
                                </a>
                            </h4>
                            <div id="collapseCityEdit" class="panel-collapse collapse">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary panel-default" id="patient-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePatientAPI">
                Patient API
                </a>
            </h3>
        </div>
        <div id="collapsePatientAPI" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="panel-group" id="patientAPI">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientNew">
                                /patient/new/
                                </a>
                            </h4>
                            <div id="collapsePatientNew" class="panel-collapse collapse">
                                <form role="form" id="new_patient_form">
                                    <div class="form-group">
                                        <label for="first_name">First name</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Last name</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name">
                                    </div>
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <div>
                                            <label class="radio-inline">
                                            <input type="radio" name="gender" id="female" value="F">
                                            Female
                                            </label>
                                            <label class="radio-inline">
                                            <input type="radio" name="gender" id="male" value="M">
                                            Male
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birth_date">Birth date</label>
                                        <input type="text" data-date-format="yyyy-mm-dd" class="form-control" id="birth_date" name="birth_date" placeholder="Enter birth date">
                                        <p class="help-block">Format yyyy-mm-dd</p>
                                    </div>
                                    <!--<div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="birth_place">Birth place</label>
                                            <div class="input-group col-sm-12 input-group-appended" id="remote">
                                                <input type='text' class='typeahead form-control' id="birth_place" name="birth_place" placeholder="Enter city">
                                                <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="add_birth_place">
                                                <span class="glyphicon glyphicon-plus">
                                                </span> Add
                                                </button>
                                                </span>
                                            </div>
                                        </div></div>-->
                                    <div class=" ui-widget form-group">
                                        <label for="birth_place">Birth place</label>
                                        <input type="hidden" name="birth_place" id="birth_place_id">
                                        <input type='text' class='form-control' id="birth_place" placeholder="Enter city">
                                    </div>
                                    <div class=" ui-widget form-group">
                                        <label for="account_number">Account number</label>
                                        <input type='text' class='form-control' id="account_number" placeholder="Enter account number">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                                    </div>
                                    <!--<div class="form-group">
                                        <label for="city">City</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control ajax-typeahead" data-link='/demographics/city/get/' id="city" name="city" placeholder="Enter city">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-plus">
                                            </span> Add
                                            </button>
                                            </span>
                                        </div>
                                    </div>-->
                                    <div class=" ui-widget form-group">
                                        <label for="city">City</label>
                                        <input type="hidden" name="city" id="city_id">
                                        <input type='text' class='form-control' id="city" placeholder="Enter city">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile</label>
                                        <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="certified_email">Certified email</label>
                                        <input type="email" class="form-control" id="certified_email" name="certified_email" placeholder="Enter certified email">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" id="active" name="active" checked>Active
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                                <hr />
                                <div class="panel" id="new_patient_result">
                                    <div class="panel-heading">JSON output</div>
                                    <div class="panel-body"  id="new_patient_result_body"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientGet">
                                /patient/get/
                                </a>
                            </h4>
                            <div id="collapsePatientGet" class="panel-collapse collapse">
                                <div class="input-group">
                                    <input type="search" id="get_patient_field" class="form-control" name="query_string" placeholder="Enter search string" >
                                    <span class="input-group-btn">
                                    <button id="get_patient_button" class="btn btn-default" type="button">Search</button>
                                    </span>
                                </div>
                                <hr />
                                <div class="panel" id="get_patient_result">
                                    <div class="panel-heading">JSON output</div>
                                    <div class="panel-body"  id="get_patient_result_body"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientEdit">
                                /patient/edit/
                                </a>
                            </h4>
                            <div id="collapsePatientEdit" class="panel-collapse collapse">
                                <form role="form" id="edit_patient_form">
                                    <div class="form-group">
                                        <label for="first_name">First name</label>
                                        <input type="text" class="form-control" name="first_name" placeholder="Enter first name">
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Last name</label>
                                        <input type="text" class="form-control" name="last_name" placeholder="Enter last name">
                                    </div>
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <div>
                                            <label class="radio-inline">
                                            <input type="radio" name="gender" value="F">
                                            Female
                                            </label>
                                            <label class="radio-inline">
                                            <input type="radio" name="gender" value="M">
                                            Male
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birth_date">Birth date</label>
                                        <input type="text" data-date-format="yyyy-mm-dd" class="form-control" name="birth_date" placeholder="Enter birth date">
                                        <p class="help-block">Format yyyy-mm-dd</p>
                                    </div>
                                    <div class=" ui-widget form-group">
                                        <label for="birth_place">Birth place</label>
                                        <input type="hidden" name="birth_place" id="edit_birth_place_id">
                                        <input type='text' class='form-control' id="edit_birth_place" placeholder="Enter city">
                                    </div>
                                    <div class=" ui-widget form-group">
                                        <label for="account_number">Account number</label>
                                        <input type='text' class='form-control' placeholder="Enter account number">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" name="address" placeholder="Enter address">
                                    </div>
                                    <div class=" ui-widget form-group">
                                        <label for="city">City</label>
                                        <input type="hidden" name="city" id="edit_city_id">
                                        <input type='text' class='form-control' id="edit_city" placeholder="Enter city">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="tel" class="form-control" name="phone" placeholder="Enter phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile</label>
                                        <input type="tel" class="form-control" name="mobile" placeholder="Enter mobile phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" name="email" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="certified_email">Certified email</label>
                                        <input type="email" class="form-control" name="certified_email" placeholder="Enter certified email">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="active" checked>Active
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                                <hr />
                                <div class="panel" id="edit_patient_result">
                                    <div class="panel-heading">JSON output</div>
                                    <div class="panel-body"  id="edit_patient_result_body"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientDeactivate">
                                /patient/deactivate/
                                </a>
                            </h4>
                            <div id="collapsePatientDeactivate" class="panel-collapse collapse">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientActivate">
                                /patient/activate/
                                </a>
                            </h4>
                            <div id="collapsePatientActivate" class="panel-collapse collapse">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientAddId">
                                /patient/add_id/
                                </a>
                            </h4>
                            <div id="collapsePatientAddId" class="panel-collapse collapse">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientRemoveId">
                                /patient/remove_id/
                                </a>
                            </h4>
                            <div id="collapsePatientRemoveId" class="panel-collapse collapse">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientSetBirthPlace">
                                /patient/set_birth_place/
                                </a>
                            </h4>
                            <div id="collapsePatientSetBirthPlace" class="panel-collapse collapse">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <a data-toggle="collapse" data-parent="#patientAPI" href="#collapsePatientSetCity">
                                /patient/set_city/
                                </a>
                            </h4>
                            <div id="collapsePatientSetCity" class="panel-collapse collapse">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/demo.js"></script>
{% endblock %}